.modal-header {
    text-align: center; /* Untuk membuat tulisan di tengah */
    border-bottom: 1px solid #ccc; /* Untuk menambahkan garis bawah */
    padding-bottom: 10px; /* Jarak antara tulisan dan garis bawah */
}

.modal-title {
    width: 100%;
    border-bottom: 2px solid #6c757d; /* Warna dan ketebalan garis bawah */
    padding-bottom: 5px; /* Jarak antara tulisan dan garis bawah */
}
